<div class="jumbotron"
            style="color:#FFF; background:url(/assets/img/header.png); background-size:cover;">
    <h1>日本酒見える化</h1>
    <p>飲んだお酒を記録に残します。記憶より記録。</p>
</div>

検索：
  <input #keyword size = '20' [value]=getCurrentValue()/>
  <button (click)="searchSake(keyword.value)" class="btn btn-primary btn-sm">Search</button>

<table class ="table table-hover table-striped">
  <tr>
    <th>
      #
    </th>    
    <th>
      名前
    </th>
    <th>
      オススメ度
    </th>  
    <th>
      県
    </th>
    <th>
      飲み始め日
    </th>
    <th>
      飲み終わり日
    </th>
  </tr>

  <tr *ngFor="let item of tests | async">
    <td>
          {{item.id}}
    </td>    
    <td>
        <a routerLink = "/sake-data/{{item.id}}">{{item.name}}</a>
    </td>
    <td>
      {{item.rank}}
    </td>
    <td>
      {{item.prefecture}}
    </td>
    <td>
        {{item.drink_start_date}}
    </td>
    <td>
      {{item.drink_end_date}}
    </td>
  </tr>

<!--
  <tr *ngFor= "let sake of sakedata | orderBy:'id'">
    <td>
          {{sake.id}}
    </td>    
    <td>
        <a routerLink = "/sake-data/{{sake.id}}">{{sake.name}}</a>
    </td>
    <td>
      {{sake.rank}}
    </td>
    <td>
      {{sake.prefecture}}
    </td>
    <td>
        {{sake.drink_start_date}}
    </td>
    <td>
      {{sake.drink_end_date}}
   </td>
  </tr>

-->
</table>
  

<!-- 
<accordion>
    <accordion-group heading="Static Header, initially expanded">
      This content is straight in the template.
    </accordion-group>
    <accordion-group heading="Another group">
      <p>Some content</p>
    </accordion-group>
    <accordion-group heading="Another group">
      <p>Some content</p>
    </accordion-group>
    <accordion-group heading="Another group">
      <p>Some content</p>
    </accordion-group>
  </accordion>
-->

<!-- 
<h1 class="page-header"> Media object</h1>
<div class="media">
    <a href="#" class="media-left">
      <img src="/assets/img/pict1.jpeg" width="50" class="img-rounded">
    </a>
    <div class="media-body">
      <h3 class="media-heading">aaa</h3>
      hohohohohohohohoohohohoh
    </div>
</div>


<div class="media" *ngFor= "let sake of sakedata">
    <a href="#" class="media-left">
        <img src="/assets/img/pict{{sake.id}}.jpeg" width="50" class="img-rounded">
    </a>
    <div class="media-body">
      <h3 class="media-heading">{{sake.name}}</h3>
        {{sake.id}}本目。hohohohohohohohoohohohoh
    </div>
</div>
-->